*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
.container {
 text-align: center;
 text-transform: uppercase;
 border: 1px solid black;
 padding: 15px;

}

.btn-container{
 display: flex;
 justify-content: space-around;
 border: 1px solid black;
 margin: 0 auto;
 padding: 15px;
}
.btn-1{
 background-color :blue;
 border: none;
 color: #fff;
 font-size: 20px;
 border-radius: 5px;
 padding: 2px;
}
.btn-2{
 background-color: red;
 border: none;
 color: #fff;
 font-size: 20px;
 border-radius: 5px;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 -ms-border-radius: 5px;
 -o-border-radius: 5px;
 padding: 2px;
}

.container-2, .name{
 width: 75%;
 margin: 40px auto;
 box-sizing: border-box;
 border: 1px solid black;
 text-align: center;
}
.container-2 h2{
text-transform: uppercase;
font-size: 2em;
line-height: 2em;
}
.container-2 button{
 background-color: rgb(74, 189, 74);
 color: #fff;
 border: none;
 font-size: x-large;
 margin: 5px 0;
 border-radius: 5px;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 -ms-border-radius: 5px;
 -o-border-radius: 5px;
 padding: 5px;
}
.flexbox-img{
 border: 1px solid rgb(74, 189, 74);
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
}
.flexbox-img img{
 width: 25%;
 height: 2%;
 padding: 15px;
 border: 1px solid rgb(74, 189, 74);
}

input{
 width: 20em;
 height: 3em;
}
.name .btn{
 background-color: #000;
 color: #fff;
 border: none;
 font-size: x-large;
 margin: 5px 0;
 border-radius: 5px;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 -ms-border-radius: 5px;
 -o-border-radius: 5px;
 padding: 5px;
}












